@charset "UTF-8";
/*Estilos generales*/
/*sass extend*/
.bienvenida {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-trabajos, .proyecto, .contenedor-nosotros, .contenedor-nosotros-s-e, .contenedor, .Testimonios, .testimonios-label, header, footer {
  display: flex;
  flex-direction: column;
}

/*sass variables*/
/* MIXIN con argumetnos / @mixin_nombre_($argumento) {propiedad: valor/es;} */
/*CONTACTO*/
iframe {
  filter: grayscale(100%);
}

/*Estilos generales*/
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.copyright {
  position: relative;
  height: 1rem;
  font-size: 0.85rem;
  text-align: center;
}

.copyright a {
  color: #ffffff;
}

.social {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.logos-sociales div {
  display: flex;
}

.logos-sociales a {
  display: flex;
  margin: 0.5rem;
}

.logos-social {
  width: 2rem;
  height: 2rem;
}

/*Estilos generales*/
/* Estilos header */
header {
  width: 100%;
}

header .header-container {
  display: flex;
  background-color: #000000;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto";
  font-size: "2rem";
}

.arquitectura {
  margin-bottom: 0;
  font-size: 2rem;
}

.navbar-brand {
  font-family: "Roboto";
  font-size: "1rem";
  margin: 0;
}

/* header div a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #ffffff;

}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0
}

nav ul li {
    padding: .3rem;
    list-style: none;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto", sans-serif; 

}*/
/*Estilos generales*/
/* Estilos main */
main {
  position: relative;
}

.bienvenida {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
  flex-direction: column;
  height: auto;
  text-align: center;
}

h1,
.bienvenida-intro,
.bienvenida-slogan {
  margin: 0.6rem;
  font-size: 1rem;
}

main {
  background-color: #e0e0e0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10rem;
  height: 10rem;
}

/* Testimonios */
.Testimonios {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #c5ba99;
  width: 100%;
  height: 20rem;
}

.testimonios-label {
  align-items: center;
  font-family: "Roboto";
  font-size: "1.5rem";
  font-weight: 600;
  gap: 1rem;
  min-width: 60%;
}

#testimonio {
  width: 100%;
  height: 10rem;
  position: relative;
  border: none;
  text-align: center;
  font-family: "Roboto";
  font-size: "1rem";
  resize: none;
}

/*Estilos generales*/
/*Nosotros*/
.nosotros {
  height: auto;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.contenedor-nosotros {
  position: relative;
  align-items: center;
  padding: 3rem 0rem;
  height: 100%;
}

.contenedor-nosotros-s-e {
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.titulo-sobremi-estudio {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0.15rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0;
}

.contenedor {
  align-items: center;
  width: 100%;
  height: 100%;
}

.txt-sobremi-estudio {
  position: relative;
  text-align: justify;
  margin-top: 1rem;
}

.fotomia {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

/*Estilos generales*/
/*Servicios*/
.accordion-body,
.card,
.justify {
  text-align: justify;
}

.container {
  display: flex;
  gap: 10px 20px;
  /* row-gap column gap */
}

.servicios__titulo {
  background-color: #000000;
  color: #ffffff;
}

.container-fluid {
  font-family: "Roboto", sans-serif;
}

.accordion-button {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: #ffffff;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}
.accordion-button:focus {
  box-shadow: none;
}

.btn--h {
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

/*Estilos generales*/
/*Recursos*/
.card {
  border-radius: 0;
}

.recursos {
  font-family: "Roboto", sans-serif;
}

.card__btn--style,
.card__title--style {
  background-color: #000000;
  color: #ffffff;
  border: "none";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.card__btn--style:hover {
  background-color: #ffffff;
  color: #000000;
  border: 0.1em solid #000000;
}

.card__btn--style:focus {
  background-color: #ffffff;
  color: #000000;
  border: 0.1em solid #000000;
  text-decoration: underline;
}

/*Estilos generales*/
/*Trabajos*/
.container-trabajos {
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 20rem); */
  gap: 2rem;
  padding: 2rem;
}

.proyecto {
  /* max-width: 20rem; */
  height: 100%;
  justify-content: space-between;
  margin: 0;
}

.proyecto-portada {
  width: 100%;
}

.proeycto-titulos {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.proyecto-parrafo {
  font-family: "Nanum Gothic";
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.trabajos-negrita {
  font-family: "Nanum Gothic";
  font-weight: 700;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  /*HEADER*/
  header .header-container {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 4rem;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  nav ul li {
    padding: 0.5rem;
  }
  /*MAIN*/
  .bienvenida {
    height: 15rem;
  }
  h1,
  .bienvenida-intro,
  .bienvenida-slogan {
    margin: 0.5rem;
    font-size: 2rem;
  }
  /*TESTIMONIOS*/
  /*NOSOTROS*/
  .contenedor-nosotros-s-e {
    padding-top: 1rem;
  }
  /*TRABAJOS*/
  .container-trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .proyecto {
    /* min-width: 20rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  /*HEADER*/
  header .header-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul li {
    padding: 1rem;
  }
  /*MAIN*/
  .bienvenida {
    font-size: 4rem;
    height: 30rem;
  }
  h1,
  .bienvenida-intro,
  .bienvenida-slogan {
    margin: 1rem;
    font-size: 3rem;
  }
  /*TESTIMONIOS*/
  .testimonios-label {
    max-width: 80rem;
  }
  /*FOOTER*/
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container p {
    margin: 0;
  }
  .logos-sociales {
    order: 3;
    /* cualquier número mayor a los demás */
  }
  .copyright {
    margin-top: 6rem;
    order: 2;
  }
  .logos-sociales {
    display: flex;
    flex-direction: column;
  }
  /* NOSOTROS */
  .contenedor-nosotros {
    flex-direction: row;
  }
  .contenedor-nosotros-s-e {
    padding: 0 1rem;
  }
  .contenedor {
    flex-direction: row;
  }
  .txt-sobremi-estudio {
    margin-left: 1rem;
  }
  .fotomia {
    width: 25rem;
    height: 25rem;
    padding-top: 0;
  }
  /*TRABAJOS*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 7rem;
  height: 7rem;
}

a {
  text-decoration: none;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  position: relative;
  cursor: pointer;
  width: max-content;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.15rem;
  background: #000000;
  bottom: 0;
  left: 0;
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  scale: 1.15;
}
.nav-link:active::after {
  width: 0;
  transition: width 0.1s ease-in-out;
}

.bienvenida {
  animation: animationBinevenida 2s linear;
}

@keyframes animationBinevenida {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

/*# sourceMappingURL=style.css.map */
