/*Estilos generales*/

@use "./utilities/extends" as ext;
@use "./utilities/variables" as var;
@use "./utilities/mixins" as mix;

@use "./layout/contacto" as cont;
@use "./layout/footer" as fo;
@use "./layout/header" as head;
@use "./layout/main" as m;
@use "./layout/nosotros" as nos;
@use "./layout/servicios" as serv;
@use "./layout/recursos" as rec;
@use "./layout/trabajos" as tra;

@use "./mq/mq" as mq;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    // outline: 1px solid red;
}

* {
    font-family: "Roboto", sans-serif;
}

.logo {
    width: 7rem;
    height: 7rem;
}

a {
    text-decoration: none;
}

.nav-item {
    padding: 0.5rem;

}

.nav-link {
    position: relative;
    cursor: pointer;
    width: max-content;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0.15rem;
        background: var.$colorNegro;
        bottom: 0;
        left: 0;
        border-radius: .1rem;
        transition: all 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        scale: 1.15;

    }

    &:active::after {
        width: 0;

        transition: width 0.1s ease-in-out;
    }
}

.bienvenida {
    animation: animationBinevenida 2s linear;
}

@keyframes animationBinevenida {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}