@use "../utilities/extends" as ext;
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;

/* Estilos main */

main {
    position: relative;
}

.bienvenida {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: italic;
    @extend %flexBasico;
    position: relative;
    flex-direction: column;
    height: auto;
    text-align: center;
}

h1,
.bienvenida-intro,
.bienvenida-slogan {
    margin: .6rem;
    font-size: 1rem;
}

main {

    background-color: #e0e0e0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    @include mix.dimension(10rem, 10rem);
}

/* Testimonios */

.Testimonios {
    position: relative;
    @extend %flexColumn;
    align-items: center;
    justify-content: center;
    background-color: var.$background-testimonios;
    @include mix.dimension(100%, 20rem);

}

.testimonios-label {
    @extend %flexColumn;
    align-items: center;
    @include mix.font ("Roboto", "1.5rem");
    font-weight: 600;
    gap: 1rem;
    min-width: 60%;

}


#testimonio {
    width: 100%;
    height: 10rem;
    position: relative;
    border: none;
    text-align: center;
    @include mix.font ("Roboto", "1rem");
    resize: none
}