@use "../utilities/extends" as ext;
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;

/*Recursos*/

.card {
    border-radius: 0;

}

.recursos {
    font-family: "Roboto", sans-serif;
}

.card__btn--style,
.card__title--style {
    @include mix.btnRecursos(var.$colorNegro, var.$colorBlanco, "none");
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.card__btn--style:hover {
    @include mix.btnRecursos(var.$colorBlanco, var.$colorNegro, .1em solid var.$colorNegro);
}

.card__btn--style:focus {
    @include mix.btnRecursos(var.$colorBlanco, var.$colorNegro, .1em solid var.$colorNegro);
    text-decoration: underline;
}