@use "../utilities/extends" as ext;
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;

/*Servicios*/

.accordion-body,
.card,
.justify {
    text-align: justify;
}

.container {
    display: flex;

    gap: 10px 20px;
    /* row-gap column gap */
}

.servicios__titulo {
    background-color: var.$colorNegro;
    color: var.$colorBlanco;
}

.container-fluid {
    font-family: "Roboto", sans-serif;
}

// .accordion {
//     --bs-accordion-btn-bg: #f0f0f0;
//     --bs-accordion-btn-color: var.$colorNegro;
//     --bs-accordion-active-bg: var.$colorNegro;
//     --bs-accordion-active-color: var.$colorBlanco;
//     --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
// }

.accordion-button {
  font-family: "Roboto", sans-serif;
  color: var.$colorNegro;
  background-color: var.$colorBlanco;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:not(.collapsed) {
    background-color: var.$colorNegro;
    color: var.$colorBlanco;

    &::after {
      filter: brightness(0) invert(1); // hace blanco el ícono de flecha
    }
  }

  &:focus {
    box-shadow: none;
  }
}


.btn--h {
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}