@use "../utilities/extends" as ext;
@use "../utilities/variables" as var;/*Trabajos*/
@use "../utilities/mixins" as mix;

.container-trabajos {
    @extend %flexColumn;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 20rem); */
    gap: 2rem;
    padding: 2rem;


}

.proyecto {
    /* max-width: 20rem; */
    height: 100%;
    @extend %flexColumn;
    justify-content: space-between;
    margin: 0;

}

.proyecto-portada {
    width: 100%;
}

.proeycto-titulos{
    @include mix.fontStyle ("Ubuntu", 700, normal);
    text-transform: uppercase;
}

.proyecto-parrafo {
    @include mix.fontStyle ("Nanum Gothic", 500, normal);
    margin-bottom: 0;
}

.trabajos-negrita {
    @include mix.fontStyle ("Nanum Gothic", 700, normal);
}
