@media only screen and (min-width: 768px) {

    /*HEADER*/

    header .header-container {
        flex-direction: row;
        justify-content: flex-start;
        font-size: 4rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around
    }

    nav ul li {
        padding: .5rem;


    }

    /*MAIN*/

    .bienvenida {

        height: 15rem;
    }

    h1,
    .bienvenida-intro,
    .bienvenida-slogan {
        margin: .5rem;
        font-size: 2rem;
    }

    /*TESTIMONIOS*/

    /*NOSOTROS*/

    .contenedor-nosotros-s-e {
        padding-top: 1rem;
    }


    /*TRABAJOS*/

    .container-trabajos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .proyecto {
        /* min-width: 20rem; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }



}

@media only screen and (min-width: 1024px) {

    /*HEADER*/

    header .header-container {
        flex-direction: row;
        justify-content: flex-start;

    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        padding: 1rem;

    }

    /*MAIN*/

    .bienvenida {
        font-size: 4rem;
        height: 30rem
    }

    h1,
    .bienvenida-intro,
    .bienvenida-slogan {
        margin: 1rem;
        font-size: 3rem;
    }

    /*TESTIMONIOS*/

    .testimonios-label {

        max-width: 80rem;
    }

    /*FOOTER*/

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-container p {
        margin: 0;
    }

    .logos-sociales {
        order: 3;
        /* cualquier número mayor a los demás */
    }

    .copyright {
        margin-top: 6rem;
        order: 2;
    }

    .logos-sociales {
        display: flex;
        flex-direction: column;
    }

    /* NOSOTROS */

    .contenedor-nosotros {
        flex-direction: row;
    }

    .contenedor-nosotros-s-e {

        padding: 0 1rem;
    }



    .contenedor {
        flex-direction: row;

    }

    .txt-sobremi-estudio {
        margin-left: 1rem;
    }


    .fotomia {
        width: 25rem;
        height: 25rem;
        padding-top: 0;
    }

    /*TRABAJOS*/











}